{% extends '../base.html' %}
{% load static %}

{% block title %}Editar novela{% endblock %}
{% block ckeditor %}
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/inline/ckeditor.js"></script>
{% endblock %}

{% block content %}
<main>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                Edita tu contribución
            </p>
        </blockquote>
    </figure>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-info">Actializar o Guardar</button>
    </form>
</main>
{% endblock %}

{% block scripts %}
    <script>
        (function(){
            InlineEditor
            .create( document.querySelector( '#id_content' ) )
            .then( editor => {
                    console.log( editor );
            } )
            .catch( error => {
                    console.error( error );
            } );
        })();
    </script>   
{% endblock %}