{% extends '../base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
<main class="site-home">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                Su contraseña ha sido cambiada satisfactoriamente
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Redirigiendo en 5 segundos
        </figcaption>
    </figure>
</main>
{% endblock %}

{% block javascript %}
<script>
    setTimeout(function() {
        window.location.href = "{% url 'account' %}";
    }, 5000);
</script>
{% endblock %}