{% extends '../base.html' %}

{% block title %}Todo OK{% endblock %}

{% block content %}
<main class="site-home">
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>
                La solicitud para cambiar su contraseña ha sido enviada exitosamente
            </p>
        </blockquote>
        <figcaption class="blockquote-footer">
            No olvides comprobar tu email para reestablecer la contraseña
        </figcaption>
    </figure>
</main>
{% endblock %}
