{% extends '../base.html' %}

{% block title %}Reestablecer contraseña{% endblock %}

{% block captcha %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block content %}
<main class="text-center">
    <h2 class="display-4 p-5">Reestablecer contraseña</h2>

    <form action="{% url 'password_reset' %}" method="post" id="form">
        {% csrf_token %}

        {% include 'form.html' %}

        <button class="g-recaptcha btn btn-info" 
                data-sitekey="6Lc4rs4aAAAAAMET49pQSliEwa-ygCx9zolfZccA" 
                data-callback='onSubmit' 
                data-action='submit'>Reestablecer contraseña</button>
    </form>
</main>
{% endblock %}

{% block javascript %}
    <script>    
        function onSubmit(token) {
            document.getElementById("form").submit();
        }
    </script>
{% endblock %}
